/* Reset de estilos */
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0074D9; /* Azul claro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #2ECC40; /* Verde suave */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #0074D9; /* Azul claro */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #2ECC40; /* Verde suave */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0074D9; /* Azul claro ao passar o mouse */
}
